@font-face {
    font-family: "raleway";
    src: url(/Raleway1/static/Raleway-Medium.ttf);
}

@font-face {
    font-family: "raleway-light";
    src: url(/Raleway1/static/Raleway-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway";
}

body {
    background: #110e16;
}


.top-img {
    position: relative;
    box-sizing: border-box;
    width: 100.5%;
    height: 40vw;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, .4);
    color: white;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to top right, #0d0e19 400px, #382f4600);

}

.text-overlay {
    position: absolute;
    top: 14%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: start;
    margin: 70px;
    margin-left: 15%;
    margin-top: 8%;
}

h1 {
    font-size: 35px;
    position: relative;
    color: #fff;
}

.text-overlay h1 {
    font-size: 45px;
}

.text-overlay span {
    display: inline-block;
    position: relative;
    color: rgb(210, 210, 210);
    font-size: 30px;
    margin-top: 20px;
    font-family: "raleway-light";

}

.top-runtime {
    margin-right: 27%;
}

.top-rating {
    margin-right: 15px;
}

.text-overlay p {
    position: relative;
    width: 60%;
    font-size: 25px;
    margin-top: 70px;
    color: rgb(193, 189, 189);
}

.movielist-container {
    padding: 50px;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 77px;
    top: 50%;
}

#movielist-item {
    display: flex;
    width: 1920px;
    padding-top: 35px;
    overflow-x: scroll;
}

.movielist {
    margin-right: 10px;
  }

.movielist:hover .movielist-item-img {
    transform: scale(1.1);
    margin: 0 30px;
    opacity: 0.5;
  }

.movielist-item-img {
    height: 330px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s all ease-in-out;

}

.movielist-item-title {
    color: #fff;
    font-size: 33px;
    margin-left: 30%;
    opacity: 0;
    position: relative;
}

.movielist:hover .movielist-item-title {
    opacity: 1;
  }